@font-face {
  font-family: 'salomeregular';
  src: url('./fonts/salome-webfont.eot');
  src: url('./fonts/salome-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/salome-webfont.woff2') format('woff2'),
    url('./fonts/salome-webfont.woff') format('woff'),
    url('./fonts/salome-webfont.ttf') format('truetype'),
    url('./fonts/salome-webfont.svg#salomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: whiteSmoke;
  --black: #595c5e;
  --primary: #ffaf39;
  --success: #dce8bd;
  /* --danger: #f37966; */
  --danger: #ed8a68;
  --brown: #f4f2e8;
  --blue: #adcfe2;

  --spacing-none: 0;
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}

body {
  font: caption;
  color: var(--black);
  /* @dev If Ubuntu this will be Ubuntu Font.
  If Yosemite, Helvetica.
  If El Capitan,  San Francisco.
  If Microsoft, Segoe UI */
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 83vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--brown);
}

footer {
  background-color: var(--black);
}

article {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: var(--brown);
}

article * + * {
  margin-top: 1rem;
}

.ba {
  border-style: solid !important;
  border-width: 1px !important;
}

button:not(.seethrough),
input[type='submit'] {
  background-color: var(--primary);
  color: #f4f2e8;
  display: inline-block;
  border: none;
  border-radius: 9999px;
  text-decoration: none;
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  margin-bottom: var(--spacing-small);
}

button {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 15.4px;
  text-transform: uppercase;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

[data-colour='white'] {
  background-color: var(--white);
}

[data-colour='orange'] {
  background-color: var(--primary);
}

[data-colour='yellow'] {
  background-color: #f7db8c;
}

[data-colour='blue'] {
  background-color: #adcfe2;
}

[data-colour='green'] {
  background-color: var(--success);
}

[data-colour='red'] {
  background-color: var(--danger);
}

[data-error] {
  color: var(--danger);
}

.bg-brown {
  background-color: var(--brown);
}

.bgg-black {
  background-color: var(--black);
}

.brown {
  color: var(--brown);
}

.footerBar {
  height: 0.25rem;
}

progress {
  margin: 0;
  padding: 0;
  height: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, var(--primary), var(--primary));

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

h1 {
  font-family: 'salomeregular', Arial, sans-serif;
  font-size: 98px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

@media only screen and (min-width: 500px) {
  .f1-ns {
    font-family: 'salomeregular', Arial, sans-serif;
    font-size: 98px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 1.25;
  }
}

h2,
h3 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p,
a {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
}
blockquote {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid var(--white);
  border-top: 3px solid var(--success);
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: var(--danger);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: var(--danger);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input[type='text'] {
  padding: var(--spacing-medium);
  width: 100%;
  border: none;
}

.container {
  display: block;
  position: relative;
  left: 2rem;
  padding: var(--spacing-medium);
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 85%;
  text-align: left;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  margin: var(--spacing-medium);
  position: absolute;
  top: 0;
  left: -3rem;
  /* left: -0.25rem; */
  height: var(--spacing-large);
  width: var(--spacing-large);
  background-color: var(--white);
  border-radius: 10%;
}

.radiomark {
  margin: var(--spacing-medium);
  position: absolute;
  top: 0;
  left: -3rem;
  /* left: -0.25rem; */
  height: var(--spacing-large);
  width: var(--spacing-large);
  background-color: var(--white);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #c3e276;
}

.container input:checked ~ .checkmark {
  background-color: #f59300fd;
}

.container:hover input ~ .radiomark {
  background-color: #c3e276;
}

.container input:checked ~ .radiomark {
  background-color: #f59300fd;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.radiomark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.container input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 10%;
  background: #f59300fd;
}

.container .radiomark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f59300fd;
}

hr {
  border-color: var(--white);
}

.fancyFont {
  font-family: 'salomeregular', Arial, sans-serif;
  /* font-size: 38px; */
  /* font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 46.4px; */
}
.cw {
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
}

.no-no-underline {
  text-decoration: none !important;
}

input[type='range'] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 15px;
  background-color: var(--success);
  border: 1px solid var(--success);
  border-radius: 10px;
  margin: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type='range']:hover {
  background-color: var(--success);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: var(--blue);
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 3px var(--blue);
  box-shadow: 0px 0px 3px var(--blue);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb:hover {
  background-color: var(--blue);
}
input[type='range']::-webkit-slider-thumb:active {
  -webkit-box-shadow: 0px 0px 1px var(--blue);
  box-shadow: 0px 0px 1px var(--blue);
}

.navbar-appear {
  opacity: 0.01;
}

.navbar-appear.navbar-appear-active {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.done-appear {
  opacity: 0;
}

.done-appear.done-appear-active {
  opacity: 1;
  -webkit-transition: opacity 3.5s ease-in;
  transition: opacity 3.5s ease-in;
}

.col3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.shiftLeft {
  left: 13rem;
}

.roundfirstAndlast:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.roundfirstAndlast:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#yellow:hover {
  background-color: #f7db8c;
}

#orange:hover {
  background-color: #ffaf39;
}

#red:hover {
  background-color: #f37966;
}

#blue:hover {
  background-color: #adcfe2;
}

#green:hover {
  background-color: #dce8bd;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadesIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadesIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: 10s ease-in 0s 1 fadesIn;
  animation: 10s ease-in 0s 1 fadesIn;
}
